@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Merriweather+Sans&family=Roboto:ital,wght@1,300;1,900&family=Ubuntu&display=swap");
:root {
    --good: #c2ed5f;
    --bad: #e42b2e;
    --base: #282c34;
    --secondary: #637caf;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: "Inconsolata", monospace;
    font-family: "Merriweather Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

button {
    cursor: pointer;
}

nav {
    background-color: var(--base);
    margin: 0;
    padding: 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0.5em;
}

nav a {
    text-decoration: none;
    padding: 0.5em;
    color: white;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--base);
    padding: 3em;
    padding-top: 1em;
    margin: 3em;
    color: white;
    border-radius: 1em 1em 1em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
}

input[type="button"] {
    background: rgb(170, 170, 170);
    cursor: pointer;
    margin-top: 1.25em;
    width: 100%;
}

input {
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.25em;
    border: none;
    width: 100%;
}

input:focus {
    border: 3px solid #555;
}

h1 {
    margin: 0;
}

.active {
    color: var(--secondary);
    border-radius: 0em 0em 0.6em 0.6em;
    text-decoration: underline;
}

.App-header {
    text-align: center;
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.notFound {
    color: #237860;
}

.good {
    color: var(--good);
    animation: zoom-g;
    animation-duration: 3s;
}

.bad {
    color: var(--bad);
}

@keyframes zoom-g {
    0% {
        scale: 0.5;
    }
    66% {
        scale: 1.25;
    }
    100% {
        scale: 1;
    }
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

.logout,
.login {
    top: 0;
    right: 0;
    float: right;
    background: none;
    border: none;
    outline: none;
    margin: 0.5em;
    margin-top: 0;
    width: 5em;
}

.login:hover,
.logout-btn:hover {
    opacity: 0.5;
}

.login.text,
.logout.text {
    word-wrap: break-word;
}

.login {
    color: var(--good);
}

.logout {
    color: var(--bad);
}

p.logout,
p.login {
    margin-top: 3pt;
}

.text {
    color: white;
}

.modal {
    z-index: 2;
    background-color: var(--base);
    width: fit-content;
    height: fit-content;
    padding: 0.75em;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    left: 33%;
    top: 33%;
    position: fixed;
    border-radius: 0.25em;
    font-size: 1.5em;
    color: white;
}

.modalBG {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.1em);
}

.cancel,
.confirm {
    outline: none;
    border: none;
    padding: 0.75em;
    margin: 0.5em;
    border-radius: 0.75em;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
    font-weight: bolder;
}

.cancel {
    background: var(--bad);
    color: white;
}

.confirm {
    background: var(--good);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.subForm {
    display: flex;
    flex-direction: column;
    margin: 8em;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}