.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    margin-left: 18vw;
}

p.title {
    text-align: center;
    font-weight: 500;
    font-size: 1.75em;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.articleBody p {
    text-indent: 2em;
    margin: 5;
}

.items {
    display: flex;
    flex-direction: row;
}

.lineItem {
    margin: 0.75em;
}