:root {
    --good: #c2ed5f;
    --bad: #e42b2e;
    --base: #282c34;
    --secondary: #8ea5d3;
    --tertiary: #7793ca;
}

.sidebar {
    background-color: var(--base);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    flex-direction: column;
}

.hide {
    outline: none;
    border: none;
    background: var(--secondary);
    color: var(--base);
    padding: 0.75em;
    font-size: 1em;
    display: flex;
}

.show {
    outline: none;
    border: none;
    background: none;
    color: var(--secondary);
    padding: 0.75em;
    font-size: 1em;
    display: flex;
    border: 1px solid var(--secondary);
}

.col {
    flex-direction: column;
}

.links {
    background: white;
}

.sidebar li a {
    background: white;
    color: #282c34;
    font-size: 1em;
}

.sidebar li a:hover {
    color: var(--secondary);
}